.about-section {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 1440px) {
  .about-section {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.about-title {
  display: none;
}

.about-me-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1440px) {
  .about-me-container {
    flex-direction: row;
    gap: 16px;
  }
}

.about-me-container-text {
  background: #242527;
  border-radius: 24px;
  min-height: 500px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .about-me-container-text {
    width: 704px;
    min-height: 700px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me-container-text {
    min-width: 680px;
  }
}

.about-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-text);
  padding: 32px;
}

@media screen and (min-width: 768px) {
  .about-text {
    font-size: 38px;
    line-height: 1.05263;
    min-width: 576px;
    padding: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .about-text {
    min-width: 552px;
  }
}

.functional-span {
  color: #ed3b44;
}
.websites-span {
  color: rgba(250, 250, 250, 0.4);
}

.about-img {
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .about-img {
    min-width: 704px;
    min-height: 700px;
  }
}

@media screen and (min-width: 1440px) {
  .about-img {
    min-width: 680px;
  }
}

.my-information {
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .my-information {
    margin-top: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .my-information {
    margin-top: 96px;
  }
}

.my-information-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 24px;
}

.icon-svg {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 9px;
  width: 36px;
  height: 36px;
  stroke: var(--main-text);
  stroke-width: 2px;
  transition: var(--transition-pattern);
}

@media screen and (min-width: 768px) {
  .icon-svg {
    padding: 10px;
    width: 40px;
    height: 40px;
  }
}

.my-information-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--main-text);
  padding-bottom: 32px;
}

.my-information-item-text {
  list-style-type: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--main-text);
  padding-bottom: 10px;
}

.my-information-item.is-active .icon-svg {
  transform: rotate(180deg);
}

.accordion-container {
  background-color: transparent;
  color: inherit;
}
.ac.my-information-item {
  color: inherit;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  background-color: var(--background);
}
.ac-header {
  display: flex;
  justify-content: center;
}
.ac-panel.info {

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 1440px) {
   .ac-panel.info {
  margin-left: auto;
  width: 612px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  }
}
button#ac-trigger-btn.ac-trigger.custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(250, 250, 250, 0.4);
  border: none;
  padding-right: 0;
}
button#ac-trigger-btn.ac-trigger.custom::after{
  display: none;
}
.ac-trigger {
  border: none;
}


.swiper.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 32px;
   margin-left: 0;



}
@media screen and (min-width: 768px) {
  .swiper.about {
width: 704px;
    margin-top: 64px;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1439px) {
  .swiper.about {
   width: 1312px;
    margin-top: 96px;
    margin-bottom: 115px;
    display: flex;
    justify-content: flex-start;
  }
}

.swiper-wrapper.programmer-list {
  display: flex;
  flex-direction: row;
  text-align: center;
  position: relative;
width: 260px;
}

@media screen and (min-width: 768px) {
  .swiper-wrapper.programmer-list{
    width: 600px;

  }
}

@media screen and (min-width: 1440px) {
  .swiper-wrapper.programmer-list{
    width: 1200px;
  }
  }

.swiper-slide.programmer-item.active {
  background-color: #ed3b44;
}


.swiper-slide.programmer-item {
  display: flex;
  text-align: center;
  padding-top: 53px;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--main-text);
  align-self: start;
  justify-content: center;
}



 @media screen and (min-width: 768px) {
  .swiper-slide.programmer-item {
    font-size: 20px;
    display: list-item;
    width: 200px;
    height: 200px;
    padding-top: 88px;
  }
}


.swiper-button-next-about {
  border: none;
  cursor: pointer;
  stroke: #3b3b3b;
  fill: none;
  stroke-width: 2px;
  display: block;
  margin-top: 51px;
  z-index: 15;
  
}

@media screen and (min-width: 768px) {
  .swiper-button-next-about {
    margin-top: 80px;
  }}
  @media screen and (min-width: 1440px) {
    .swiper-button-next-about {
 
  margin-left: 72px;
    }}
  




.icon-svg-arrow-right {
  width: 28px;
  height: 28px;
}

@media screen and (min-width: 768px) {
  .icon-svg-arrow-right {
    width: 40px;
    height: 40px;
  }}
  @media screen and (min-width: 1440px) {
    .icon-svg-arrow-right{
      width: 40px;
      height: 40px;
    }}




