/* щоб не сварилась збірка)) */
p {
  padding: 0;
}
.covers-wrap {
  padding-top: 32px;
  padding-bottom: 32px;
}
.section-covers {
  background-image: url('../../img/covers/background.png');
  background-size: cover;
  backdrop-filter: blur(15px);
  background-color: (217, 217, 217, 0.04);
}

.section-covers.container {
  padding: 0;
}

.covers-list {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  column-gap: 32px;
  overflow: hidden;
  height: 300px;
  
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(20deg);
}

.cover-item {
  width: 100%;
  height: 100%;
  animation: move 10s linear infinite;
}

@keyframes move{
  0% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(-180%);
  
  }
}




@media screen and (min-width: 768px) {
  .section-covers .container {
    padding: 0;
  }

  .cover-item {
    height: 314px;
    width: 544px;
  }
  .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .covers-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    height: 900px;
  }
  
}
@media screen and (min-width: 1440px) {

  .covers-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
}


.lines{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../img/covers/lines.png');
  background-size: cover;
  z-index: 1;

}
