/* щоб не сварилась збірка)) */
p {
  padding: 0;
}
.covers-wrap {
  padding-top: 32px;
  padding-bottom: 32px;
}
.section-covers {
  background-image: url('../../img/covers/background.png');
  background-size: cover;
  backdrop-filter: blur(15px);
  background-color: (217, 217, 217, 0.04);
}

.section-covers.container {
  padding: 0;
}

/* .h2-covers {
  visibility: hidden;
} */
.covers-list {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  height: 100%;
  overflow-x: hidden;
}
.cover-item {
  height: 163px;
  width: 283px;
}
.covers-list .cover-item:nth-child(1) {
  grid-column: 2;
}
.covers-list .cover-item:nth-child(3) {
  grid-column: 1;
}
.covers-list .cover-item:nth-child(6) {
  grid-column: 1;
}
.covers-list .cover-item:nth-child(8) {
  grid-column: 3;
}
.covers-list .cover-item:nth-child(8) {
  grid-column: 1;
}
.covers-list .cover-item:nth-child(10) {
  grid-column: 1;
}
@media screen and (min-width: 768px) {
  .section-covers .container {
    padding: 0;
  }
.covers-wrap {
  padding-top: 48px;
  padding-bottom: 48px;
}
  .cover-item {
    height: 314px;
    width: 544px;
  }
  .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .covers-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .covers-list .cover-item:nth-child(1) {
    grid-column: 2;
  }
  .covers-list .cover-item:nth-child(4) {
    grid-column: 2;
  }
  .covers-list .cover-item:nth-child(6) {
    grid-column: 1;
  }
  .covers-list .cover-item:nth-child(8) {
    grid-column: 3;
  }

  .covers-list .cover-item:nth-child(9) {
    grid-column: 1;
  }
  .covers-list .cover-item:nth-child(10) {
    grid-column: 2;
  }
}
@media screen and (min-width: 1440px) {
  .covers-wrap {
  padding-top: 82px;
  padding-bottom: 82px;
}
  .covers-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .covers-list .cover-item:nth-child(1) {
    grid-column: 2;
  }
  .covers-list .cover-item:nth-child(3) {
    grid-column: 1;
  }
  .covers-list .cover-item:nth-child(6) {
    grid-column: 1;
  }
  .covers-list .cover-item:nth-child(8) {
    grid-column: 3;
  }
  .covers-list .cover-item:nth-child(9) {
    grid-column: 1;
  }
  .covers-list .cover-item:nth-child(10) {
    grid-column: 2;
  }
}
