.faq-section {
  padding-top: 32px;
  padding-bottom: 64px;
}

.accordion-container {
  background-color: transparent;
  color: inherit;
  /* padding-bottom: 32px; */
}
.faq-h2 {
  color: rgba(250, 250, 250, 0.4);

  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.32px;
}
.faq-icon-span {
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 100px;
  display: block;
  background: transparent;
  cursor: pointer;
}

.accordion-container.faq {
  display: grid;
  grid-template-columns: 1fr;
}

.ac.faq-item {
  border: none;
  background-color: var(--background);
  padding: 20px 0;
  border-bottom: 1px solid rgba(250, 250, 250, 0.1);
}
.ac.faq-item:nth-child(1) {
  border-top: 1px solid rgba(250, 250, 250, 0.1);
}
.ac.faq-item span {
  text-transform: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--main-text);
  padding-right: 20px;
}
p.ac-text {
  color: var(--main-text);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
}
.ac .ac-trigger {
  color: var(--main-text);
}
.ac .ac-trigger:focus {
  color: var(--main-text);
}
.ac .ac-panel .ac-text {
  color: rgba(250, 250, 250, 0.6);
}

.accordion-container.faq .ac-trigger.custom {
  color: var(--main-text);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.accordion-container.faq .ac-trigger.custom::after {
  display: none;
}

.faq-item.is-active .faq-icon {
  transform: rotate(180deg);
  transition: ease-in 0.3s;
}
.faq-icon {
  margin: 10px;
}
.ac-panel {
  padding-right: 24px;
}

.ac.faq-item span{
  display: block;

}

@media screen and (min-width: 768px) {

  .faq-section {
  padding-top: 48px;
  padding-bottom: 96px;
}
  .faq-h2 {
    padding: 0;
    font-size: 20px;
  }

  .ac.faq-item {
    background-color: var(--background);
    padding: 32px 0;
  }

  .ac-panel {
    padding-right: 32px;
  }
}

@media (min-width: 1440px) {
    .faq-section {
  padding-top: 82px;
  padding-bottom: 164px;
}
  .accordion-container.faq {
    grid-template-columns: 50% 50%;
  }
 
  .ac.faq-item {
    border: none;
    padding-bottom: 32px;
    margin-bottom: 0;
    border-top: 1px solid rgba(250, 250, 250, 0.1);
  }
  .ac.faq-item:nth-child(odd) {
    padding-right: 32px;
    border-right: 1px solid rgba(250, 250, 250, 0.1);
  }
  .ac.faq-item:nth-child(even) {
    padding-left: 32px;
  }
  .ac.faq-item:nth-child(6) {
    border-bottom: 1px solid rgba(250, 250, 250, 0.1);
  }

  .ac.faq-item:nth-child(5) {
    border-bottom: 1px solid rgba(250, 250, 250, 0.1);
  }
}
