.wrap-hero {
  padding-bottom: 32px;
}
.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;

  background-position: center;
  background-position: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../img/hero/bgc-jpg/mob@1x.webp');
  min-height: 612px;
  padding-bottom: 32px;
  padding-top: 281px;
}

@media only screen and (max-width: 767.98px) and (min-resolution: 192dpi) {
  .hero-container {
    background-image: url('../../img/hero/bgc-jpg/mob@2x.webp');
  }
}

@media only screen and (min-width: 768px) {
  .hero-container {
    min-height: 1024px;
    background-size: 728px 100%;
    /* background-position: -212px; */
    background-image: url('../../img/hero/bgc-jpg/tab@1x.webp');
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-container {
    background-image: url('../../img/hero/bgc-jpg/tab@2x.webp');
  }
}

@media only screen and (min-width: 1440px) {
  .wrap-hero {
    padding-bottom: 48px;
  }
  .hero-container {
    min-height: 900px;
    background-position: left;
    background-image: url('../../img/hero/bgc-jpg/desk@1x.webp');
  }
}
@media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero-container {
    background-image: url('../../img/hero/bgc-jpg/desk@2x.webp');
  }
}
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-text);
}
@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 90px;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-title {
    margin: 0 auto;
    width: 1084px;
  }
}
.hero-ccontacts-wrap {
  margin-top: 212px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 4px;
}
.hero-soc-list {
  display: flex;
  gap: 4px;
}

.hero-soc-link {
  min-width: 37px;
  min-height: 37px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--main-text);

  transition: border-color var(--transition-pattern);
}
.hero-email {
  height: 37px;
  padding: 10px;
}
.hero-soc-link:hover,
.hero-soc-link:focus {
  border-color: #fafafa;
}
@media only screen and (min-width: 768px) {
  .hero-ccontacts-wrap {
    margin-top: 187px;
  }
  .hero-soc-list,
  .hero-ccontacts-wrap {
    gap: 8px;
  }
  .hero-soc-link {
    font-size: 16px;
  }
  .hero-soc-link {
    min-width: 55px;
    height: 55px;
  }
  .hero-email {
    padding: 18px 24px;
  }
}
@media only screen and (min-width: 768px) {
  .hero-ccontacts-wrap {
    margin-top: 243px;
  }
}
