.projects-section {
  padding-bottom: 32px;
  padding-top: 32px;
}

.projects-title {
  font-family: 'Inter Tight', sans-serif;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.projects-wrapper {
}

@media only screen and (min-width: 1440px) {
  .projects-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }

  .projects-light-part,
  .projects-dark-part {
    flex: 1;
  }
}

.projects-light-part {
  background: var(--main-text);
  border-radius: 24px 24px 0 0;
}

@media only screen and (min-width: 1440px) {
  .projects-light-part {
    border-radius: 24px 0 0 24px;
  }
}

.projects-content-list {
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 6px;
}

@media only screen and (min-width: 768px) {
  .projects-content-list {
    padding: 64px 0 0 64px;
  }
}

.projects-content-list li {
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  padding: 13px 18px;
  color: var(--background);
}

.projects-description {
  padding: 0 32px;
  margin-top: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.72px;
  color: var(--background);
}

@media only screen and (min-width: 768px) {
  .projects-description {
    padding-left: 64px;
    padding-right: 148px;
    margin-top: 164px;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: -1.32px;
  }
}

@media only screen and (min-width: 1440px) {
  .projects-description {
    padding-left: 64px;
    padding-right: 130px;
    margin-top: 223px;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: -1.32px;
  }
}

.projects-link {
  display: inline-flex;
  align-items: center;
  margin: 32px 32px 16px;
  padding: 13px 32px;
  border-radius: 60px;
  background-color: var(--button-text);
  color: var(--main-text);
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .projects-link {
    margin: 32px 64px;
    padding: 18px 50px;
  }
}

.projects-link-wrapper {
  padding-bottom: 32px;
}

.projects-btn svg {
  border-radius: 50%;
  gap: 12px;
}

.projects-dark-part {
  background-color: var(--cards);
  border-radius: 0 0 24px 24px;
}

@media only screen and (min-width: 1440px) {
  .projects-dark-part {
    border-radius: 0 24px 24px 0;
  }
}

.project-img-wrapper picture {
  width: 311px;
  height: 195px;
}

.project-img {
  padding: 100px 16px;
}

@media only screen and (min-width: 768px) {
  .project-img {
    padding: 120px 45px;
  }
}

@media only screen and (min-width: 1440px) {
  .project-img {
    padding: 120px 37px;
  }
}

@media only screen and (min-width: 1440px) {
  .project-img {
    padding: 120px 45px;
  }
}
/* Arrow Wrappeer */
.projects-arrow-wrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 32px;
}

@media only screen and (min-width: 768px) {
  .projects-arrow-wrapper {
    margin-top: 64px;
  }
}

@media only screen and (min-width: 1440px) {
  .projects-arrow-wrapper {
    margin-top: 64px;
  }
}

/* Arrow Btn */
.projects-btn_arrow {
  border-radius: 50%;
  background-color: transparent;

  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-btn_arrow:active {
  transform: translateY(2px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.projects-btn_arrow.swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  border: 1px solid rgba(250, 250, 250, 0.2);
  cursor: default;
}

.projects-arrow-icon {
  stroke: var(--main-text);
  fill: none;
  width: 24px;
  height: 24px;
  transition: stroke 200ms ease-in-out;

  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .projects-btn_arrow {
    padding: 18px;
    width: 68px;
    height: 68px;
  }

  .projects-arrow-icon {
    width: 32px;
    height: 32px;
  }
}
