<section class="about-section" id="about">
  <div class="container">
    <h2 class="about-title">About me</h2>
    <div class="about-me-container">
      <div class="about-me-container-text">
        <p class="about-text">
          I work with people all over the world to create impressive and
          <span class="functional-span">functional</span>
          <span class="websites-span">websites</span> that reflect each client's
          unique personality.
        </p>
      </div>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/about-me/about-desc@1x.webp 1x,
            ./img/about-me/about-desc@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/about-me/about-tab@1x.webp 1x,
            ./img/about-me/about-tab@2x.webp 2x
          "
        />
        <source
          srcset="
            ./img/about-me/about-mob@1x.webp 1x,
            ./img/about-me/about-mob@2x.webp 2x
          "
        />
        <img
          loading="lazy"
          class="about-img"
          src="./img/about-me/about-mob@1x.webp"
          alt="My photo"
          width="343"
          height="500"
        />
      </picture>
    </div>
    <div class="my-information">
      <ul class="accordion-container">
        <li class="ac my-information-item is-active">
          <h3 class="ac-header is-active">
            <button type="button" class="ac-trigger custom">
              ABOUT ME
              <svg class="icon-svg" width="18" height="18">
                <use href="./img/icons.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </h3>
          <div class="ac-panel info">
            <p class="my-information-text">
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages and technologies, always ready to
              improve my skills.I always follow the latest trends and look for
              unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
            </p>
            <p class="my-information-text">
              Able to work both independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work.I am always looking for opportunities for
              self-improvement. I actively study new technologies and practices
              to stay abreast of the latest innovations. I have a strong
              understanding of various programming languages, frameworks and
              architectural concepts that allow me to create efficient and
              scalable software.
            </p>
          </div>
        </li>
        <li class="ac my-information-item">
          <h3 class="ac-header">
            <button type="button" class="ac-trigger custom">
              ROLE
              <svg class="icon-svg" width="18" height="18">
                <use href="./img/icons.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </h3>
          <div class="ac-panel info">
            <ul>
              <li class="my-information-item-text">Frontend development</li>
              <li class="my-information-item-text">HeadlessCMS,Wordpress</li>
              <li class="my-information-item-text">Blender(enjoy)</li>
            </ul>
          </div>
        </li>
        <li class="ac my-information-item">
          <h3 class="ac-header">
            <button type="button" class="ac-trigger custom">
              EDUCATION
              <svg class="icon-svg" width="18" height="18">
                <use href="./img/icons.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </h3>
          <div class="ac-panel info">
            <ul>
              <li class="my-information-item-text">
                2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
                York
              </li>
              <li class="my-information-item-text">
                2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                School, New York
              </li>
              <li class="my-information-item-text">
                2020 - 2022 / Advanced Blender Animation Techniques, Udemy
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="skills">
      <div class="skills-swiper-container">
        <div class="skills-swiper about">
          <ul class="swiper-wrapper programmer-list">
            <li class="swiper-slide programmer-item active">HTML/CSS</li>
            <li class="swiper-slide programmer-item">JavaScript</li>
            <li class="swiper-slide programmer-item">React</li>
            <li class="swiper-slide programmer-item">Node. js</li>
            <li class="swiper-slide programmer-item">React Native</li>
            <li class="swiper-slide programmer-item">Soft skills</li>
            <li class="swiper-slide programmer-item">Git</li>
          </ul>
        </div>
      </div>
      <div class="swiper-button-next-about">
        <svg class="icon-svg-arrow-right" width="28" height="28">
          <use href="./img/icons.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
