
<section class="section-covers container">
    <h2 class="h2-covers">covers</h2>
    
    <ul class="covers-list">
        <li class="cover-item"><img class="img-cover" src="./img/covers/project1.png" alt="" width="283" height="163"></li>
        <li class="cover-item"><img class="img-cover" src="./img/covers/project2.png" alt="" width="283" height="163"></li>
        <li class="cover-item"><img class="img-cover" src="./img/covers/project3.png" alt="" width="283" height="163"></li>
        <li class="cover-item"><img class="img-cover" src="./img/covers/project4.png" alt="" width="283" height="163"></li>
        <li class="cover-item"><img class="img-cover" src="./img/covers/project5.png" alt="" width="283" height="163"></li>
        <li class="cover-item"><img class="img-cover" src="./img/covers/project6.png" alt="" width="283" height="163"></li>
        <li class="cover-item"><img class="img-cover" src="./img/covers/project7.png" alt="" width="283" height="163"></li>
        <li class="cover-item"><img class="img-cover" src="./img/covers/project8.png" alt="" width="283" height="163"></li>
        <li class="cover-item"><img class="img-cover" src="./img/covers/project9.png" alt="" width="283" height="163"></li>
        <li class="cover-item"><img class="img-cover" src="./img/covers/project10.png" alt="" width="283" height="163"></li>

    </ul>
</section>