<section class="section-covers container" id="covers">

    <h2 class="h2-covers visually-hidden">covers</h2>






    <div class="super">

        <div class="covers-wrapper">
            <div class="covers-list">
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover1.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover2.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover3.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover4.jpg" alt="" width="283"
                        height="163"></div>
                       
                <!-- <div class="cover-item"><img class="img-cover" src="../img/covers/cover5.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover6.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover7.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover8.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover9.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover10.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover11.jpg" alt="" width="283"
                        height="163"></div> -->

            </div>
        </div>

        <div class="covers-wrapper-2">
            <div class="covers-list-2">
                <!-- <div class="cover-item"><img class="img-cover" src="../img/covers/cover2.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover1.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover2.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover3.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover4.jpg" alt="" width="283"
                        height="163"></div> -->
                <!-- <div class="cover-item"><img class="img-cover" src="../img/covers/cover5.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover6.jpg" alt="" width="283"
                        height="163"></div> -->
                <!-- <div class="cover-item"><img class="img-cover" src="../img/covers/cover7.jpg" alt="" width="283"
                        height="163"></div> -->
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover8.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover9.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover10.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover11.jpg" alt="" width="283"
                        height="163"></div>

            </div>
        </div>

        <div class="covers-wrapper-3">
            <div class="covers-list-3">

             
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover5.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover6.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover7.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover8.jpg" alt="" width="283"
                        height="163"></div>
                        
                        
                <!-- <div class="cover-item"><img class="img-cover" src="../img/covers/cover9.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover10.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover11.jpg" alt="" width="283"
                        height="163"></div> -->   
                        
                        
                        <!-- <div class="cover-item"><img class="img-cover" src="../img/covers/cover1.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover2.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover3.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover4.jpg" alt="" width="283"
                        height="163"></div> -->

            </div>
        </div>
        
        
        
        <div class="covers-wrapper-4">
            <div class="covers-list-3">

             
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover5.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover6.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover7.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover8.jpg" alt="" width="283"
                        height="163"></div>
                        
                        
                <!-- <div class="cover-item"><img class="img-cover" src="../img/covers/cover9.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover10.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover11.jpg" alt="" width="283"
                        height="163"></div> -->   
                        
                        
                        <!-- <div class="cover-item"><img class="img-cover" src="../img/covers/cover1.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover2.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover3.jpg" alt="" width="283"
                        height="163"></div>
                <div class="cover-item"><img class="img-cover" src="../img/covers/cover4.jpg" alt="" width="283"
                        height="163"></div> -->

            </div>
        </div>
        
    </div>
</section>