<section class="section-covers container" id="covers">
  <h2 class="h2-covers visually-hidden">covers</h2>

  <ul class="super">
    <li class="covers-wrapper">
      <ul class="covers-list">
        <li class="cover-item">
          <img
            class="img-cover"
            src="./img/covers/cover1.webp"
            alt=""
            width="283"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="cover-item">
          <img
            class="img-cover"
            src="./img/covers/cover2.webp"
            alt=""
            width="283"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="cover-item">
          <img
            class="img-cover"
            src="./img/covers/cover3.webp"
            alt=""
            width="283"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="cover-item">
          <img
            class="img-cover"
            src="./img/covers/cover4.webp"
            alt=""
            width="283"
            height="163"
            loading="lazy"
          />
        </li>
      </ul>
    </li>

    <li class="covers-wrapper">
      <ul class="covers-list covers-list-2">
        <li class="cover-item">
          <img
            class="img-cover"
            src="./img/covers/cover8.webp"
            alt=""
            width="283"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="cover-item">
          <img
            class="img-cover"
            src="./img/covers/cover9.webp"
            alt=""
            width="283"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="cover-item">
          <img
            class="img-cover"
            src="./img/covers/cover10.webp"
            alt=""
            width="283"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="cover-item">
          <img
            class="img-cover"
            src="./img/covers/cover11.webp"
            alt=""
            width="283"
            height="163"
            loading="lazy"
          />
        </li>
      </ul>
    </li>

    <li class="covers-wrapper">
      <ul class="covers-list covers-list-3">
        <li class="cover-item">
          <img
            class="img-cover"
            src="./img/covers/cover5.webp"
            alt=""
            width="283"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="cover-item">
          <img
            class="img-cover"
            src="./img/covers/cover6.webp"
            alt=""
            width="283"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="cover-item">
          <img
            class="img-cover"
            src="./img/covers/cover7.webp"
            alt=""
            width="283"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="cover-item">
          <img
            class="img-cover"
            src="./img/covers/cover8.webp"
            alt=""
            width="283"
            height="163"
            loading="lazy"
          />
        </li>
      </ul>
    </li>

    <li class="covers-wrapper">
      <ul class="covers-list covers-list-3">
        <li class="cover-item">
          <img
            class="img-cover"
            src="./img/covers/cover5.webp"
            alt=""
            width="283"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="cover-item">
          <img
            class="img-cover"
            src="./img/covers/cover6.webp"
            alt=""
            width="283"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="cover-item">
          <img
            class="img-cover"
            src="./img/covers/cover7.webp"
            alt=""
            width="283"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="cover-item">
          <img
            class="img-cover"
            src="./img/covers/cover8.webp"
            alt=""
            width="283"
            height="163"
            loading="lazy"
          />
        </li>
      </ul>
    </li>
  </ul>
</section>
