<h2>FAQ</h2>
<ul class="faq-list">
    <li class="faq-list-item">
        <h4 class="faq-item-h4">What programming languages ​​are most often used in your project?</h4>
        <span class="span-faq-icon"> <svg class="faq-icon" width="20" height="20">
                <use href="../img/faq/faq-icon.svg#faq-icon"></use>
            </svg></span>
        <p class="faq-item-p">In the field of web development, there are various technologies and programming languages.
            Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
    </li>
    <li class="faq-list-item">
        <h4 class="faq-item-h4">What payment methods do you accept?</h4><span class="span-faq-icon"> <svg
                class="faq-icon" width="20" height="20">
                <use href="../img/faq/faq-icon.svg#faq-icon"></use>
            </svg></span>
        <p class="faq-item-p">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic
            payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and
            others.</p>
    </li>
    <li class="faq-list-item">
        <h4 class="faq-item-h4">How can I contact you?</h4><span class="span-faq-icon"> <svg class="faq-icon" width="20"
                height="20">
                <use href="../img/faq/faq-icon.svg#faq-icon"></use>
            </svg></span>
        <p class="faq-item-p">In the field of web development, there are various technologies and programming languages.
            Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
    </li>
    <li class="faq-list-item">
        <h4 class="faq-item-h4">Do you provide advice or support?</h4><span class="span-faq-icon"> <svg class="faq-icon"
                width="20" height="20">
                <use href="../img/faq/faq-icon.svg#faq-icon"></use>
            </svg></span>
        <p class="faq-item-p">The terms of project implementation depend to a large extent on a number of factors, such
            as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines
            is a difficult task, and it usually occurs during the planning phase of the project.</p>
    </li>
    <li class="faq-list-item">
        <h4 class="faq-item-h4">What does the process of developing a software product look like from idea to
            implementation?</h4><span class="span-faq-icon"> <svg class="faq-icon" width="20" height="20">
                <use href="../img/faq/faq-icon.svg#faq-icon"></use>
            </svg></span>
        <p class="faq-item-p">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic
            payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and
            others.</p>
    </li>

</ul>