<div class="mobile-menu-bg">
  <div class="mobile-menu">
    <button class="btn-close-mob-menu" type="button" aria-label="Close menu">
      <svg class="icon-close-mob-menu" width="28" height="28">
        <use href="./img/header/icons.svg#icon-menu-btn-close"></use>
      </svg>
    </button>
    <nav class="mobile-nav">
      <ul class="mobile-nav-list">
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#about">About me</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#projects">Projects</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <a class="mobile-link" href="#work-together">Order the project</a>
  </div>
</div>
