<section class="section-projects container">
    <h2 class="h2-projects">Projects</h2>
    
    <ul class="projects-list">
        <li class="project-item"><img class="img-project" src="../img/projects/project1.png" alt="" width="283" height="163"></li>
        <li class="project-item"><img class="img-project" src="../img/projects/project2.png" alt="" width="283" height="163"></li>
        <li class="project-item"><img class="img-project" src="../img/projects/project3.png" alt="" width="283" height="163"></li>
        <li class="project-item"><img class="img-project" src="../img/projects/project4.png" alt="" width="283" height="163"></li>
        <li class="project-item"><img class="img-project" src="../img/projects/project5.png" alt="" width="283" height="163"></li>
        <li class="project-item"><img class="img-project" src="../img/projects/project6.png" alt="" width="283" height="163"></li>
        <li class="project-item"><img class="img-project" src="../img/projects/project7.png" alt="" width="283" height="163"></li>
        <li class="project-item"><img class="img-project" src="../img/projects/project8.png" alt="" width="283" height="163"></li>
        <li class="project-item"><img class="img-project" src="../img/projects/project9.png" alt="" width="283" height="163"></li>
        <li class="project-item"><img class="img-project" src="../img/projects/project10.png" alt="" width="283" height="163"></li>

    </ul>



</section>