<section class="projects-section" id="projects">
  <div class="container">
    <h2 class="projects-title">Projects</h2>

    <div class="swiper projectSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="projects-wrapper">
            <div class="projects-light-part">
              <ul class="projects-content-list">
                <li>#react</li>
                <li>#js</li>
                <li>#node js</li>
                <li>#git</li>
              </ul>
              <h3 class="projects-description">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <div class="projects-link-wrapper">
                <a
                  href="https://github.com/Lubov1506/js-proj-portfolio"
                  target="_blank"
                  class="projects-link"
                  >See project</a
                >
              </div>
            </div>

            <div class="projects-dark-part">
              <picture>
                <!-- Desktop screen -->
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/projects/first_page_desc_1440px@1x.webp 1x,
                    ./img/projects/first_page_desc_1440px@2x.webp 2x
                  "
                />
                <!-- Tablet screen -->
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/projects/first_page_tab_768px@1x.webp 1x,
                    ./img/projects/first_page_tab_768px@2x.webp 2x
                  "
                />
                <!-- Mobile screen -->
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/projects/first_page_mobile_375px@1x.webp 1x,
                    ./img/projects/first_page_mobile_375px@2x.webp 2x
                  "
                />
                <img
                  loading="lazy"
                  class="project-img"
                  src="./img/projects/first_page_mobile_375px@1x.webp"
                  alt="project-img"
                />
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="projects-wrapper">
            <div class="projects-light-part">
              <ul class="projects-content-list">
                <li>#react</li>
                <li>#js</li>
                <li>#node js</li>
                <li>#git</li>
              </ul>
              <h3 class="projects-description">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <div class="projects-link-wrapper">
                <a
                  href="https://github.com/Lubov1506/js-proj-portfolio"
                  target="_blank"
                  class="projects-link"
                  >See project</a
                >
              </div>
            </div>

            <div class="projects-dark-part">
              <picture>
                <!-- Desktop screen -->
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/projects/second_page_desc_1440px@1x.webp 1x,
                    ./img/projects/second_page_desc_1440px@2x.webp 2x
                  "
                />
                <!-- Tablet screen -->
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/projects/second_page_tab_768px@1x.webp 1x,
                    ./img/projects/second_page_tab_768px@2x.webp 2x
                  "
                />
                <!-- Mobile screen -->
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/projects/second_page_mobile_375px@1x.webp 1x,
                    ./img/projects/second_page_mobile_375px@2x.webp 2x
                  "
                />
                <img
                  loading="lazy"
                  class="project-img"
                  src="./img/projects/second_page_mobile_375px@1x.webp"
                  alt="project-img"
                />
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="projects-wrapper">
            <div class="projects-light-part">
              <ul class="projects-content-list">
                <li>#react</li>
                <li>#js</li>
                <li>#node js</li>
                <li>#git</li>
              </ul>
              <h3 class="projects-description">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <div class="projects-link-wrapper">
                <a
                  href="https://github.com/Lubov1506/js-proj-portfolio"
                  target="_blank"
                  class="projects-link"
                  >See project</a
                >
              </div>
            </div>

            <div class="projects-dark-part">
              <picture>
                <!-- Desktop screen -->
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/projects/third_page_desc_1440px@1x.webp 1x,
                    ./img/projects/third_page_desc_1440px@2x.webp 2x
                  "
                />
                <!-- Tablet screen -->
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/projects/third_page_tab_768px@1x.webp 1x,
                    ./img/projects/third_page_tab_768px@2x.webp 2x
                  "
                />
                <!-- Mobile screen -->
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/projects/third_page_mobile_375px@1x.webp 1x,
                    ./img/projects/third_page_mobile_375px@2x.webp 2x
                  "
                />
                <img
                  loading="lazy"
                  class="project-img"
                  src="./img/projects/third_page_mobile_375px@1x.webp"
                  alt="project-img"
                />
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="projects-arrow-wrapper">
      <button type="button" class="projects-btn_arrow js-btn_arrow-left" aria-label="projects-next-button">
        <svg class="projects-arrow-icon" width="52" height="52">
          <use href="./img/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>

      <button type="button" class="projects-btn_arrow js-btn_arrow-right" aria-label="projects-next-button">
        <svg class="projects-arrow-icon" width="52" height="52">
          <use href="./img/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
