<footer class="work-together-section" id="work-together">
  <div class="container">
    <h2 class="work-together-title">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/work-together/avatar-tab1x.webp 1x,
            ./img/work-together/avatar-tab2x.webp 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            ./img/work-together/avatar-mob1x.webp 1x,
            ./img/work-together/avatar-mob2x.webp 2x
          "
        />
        <img
          class="work-together-avatar"
          src="./img/work-together/avatar-mob1x.webp"
          alt="avatar"
          loading="lazy"
        />
      </picture>
      Let’s <span class="work-together-span">work</span><br />together
    </h2>
    <form class="work-together-form">
      <div class="work-together-input-div">
        <input
          type="email"
          name="email"
          id="work-together-email"
          class="work-together-input"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          placeholder="clients@gmail.com"
          autocomplete="off"
          required
        />
        <p class="email-text"></p>
      </div>
      <input
        type="text"
        name="comment"
        id="work-together-comment"
        class="work-together-input"
        placeholder="comments"
        autocomplete="off"
      />
      <button
        class="work-together-button"
        type="submit"
        name="work-together-submit-button"
      >
        Send
      </button>
    </form>
    <div class="work-together-wrapper-contacts">
      <a href="mailto:lloydjefferson@gmail.com" class="work-together-contact"
        >lloydjefferson@gmail.com</a
      ><a href="tel:+3801111111111" class="work-together-contact"
        >+380 11 1111 11 11</a
      >
    </div>
  </div>
</footer>

<div class="backdrop"></div>
<div class="work-together-modal-window">
  <button
    type="button"
    class="work-together-modal-btn"
    name="work-together-modal-btn"
  >
    <svg class="work-together-modal-svg" width="24" height="24">
      <use href="./img/icons.svg#icon-x"></use>
    </svg>
  </button>
  <h2 class="work-together-modal-title">
    Thank you for your interest in cooperation!
  </h2>
  <p class="work-together-modal-text">
    The manager will contact you shortly to discuss further details and
    opportunities for cooperation. Please stay in touch.
  </p>
</div>
<a href="#" class="scroll-up-btn">
  <svg class="scroll-up-svg">
    <use href="./img/icons.svg#icon-arrow-up"></use>
  </svg>
</a>
